.edu{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.numero{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.matar{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.peligrosos{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.terroristas{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}